server:
  shutdown: graceful
  forward-headers-strategy: native

spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    validate-on-migrate: true
    out-of-order: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    uz.eduplatform: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: WARN
