server:
  shutdown: graceful

spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  flyway:
    enabled: true
    validate-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    uz.eduplatform: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: INFO
